# Python
*.pyc
__pycache__/
*.pyo
*.pyd
venv/
ENV/
env/
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Outros
*.sqlite3
match_data.json
